<!DOCTYPE html>
<html lang="en">

    {{> head }}



    {{> navbar }}

!<div class = "container">
    <div class="row">
        <div class="col-8">
            <h1>Imagen</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsa amet labore aperiam rem repellat magnam vero exercitationem suscipit velit minus, deleniti aspernatur dicta, hic error consequuntur quos enim atque?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/img1.jpg"  class="img-thumbnail">
        </div>
    </div>
</div>
    {{> footer }}
